<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>햄버거 추천 시스템</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>햄버거 추천 시스템</h1>
    <label for="userSelect"></label><select id="userSelect">
        <option value="">사용자 선택</option>
        {% for user in users %}
        <option value="{{ user.UserID }}">사용자 {{ user.UserID }}</option>
        {% endfor %}
    </select>
    <div id="recommendations"></div>
    <script src="/static/js/script.js"></script>
</body>
</html>